<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" routerLink="/admin">Admin</a>
    <a class="nav-link" routerLink="">Back to Lottery</a>
</nav>
<div class="container">
    <div class="h2 mb-3">Lottery Settings</div>
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="csvFile">CSV File:</label>
            <input id="csvFile" type="file" class="form-control" formControlName="csvFile" (change)="handleFileInput($event.target)" data-test="csv-file">
          <div *ngIf="!!totalNames">Total names loaded: {{totalNames}}</div>
        </div>
        <div class="form-group">
            <label for="logoUrl">Icon Url:</label>
            <input id="logoUrl" type="text" class="form-control" formControlName="logoUrl" data-test="logo-url">
            <small class="form-text text-muted">Optional</small>
        </div>
        <div class="form-group">
            <label for="buttonText">Button Text:</label>
            <input id="buttonText" type="text" class="form-control" formControlName="buttonText" data-test="button-text">
        </div>
        <div class="form-group">
            <label for="backgroundColor">Background Color:</label>
            <input id="backgroundColor" type="color" class="form-control" formControlName="backgroundColor" data-test="background-color">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!adminForm.valid || isSaveLoading" data-test="save-form">Save</button>
    </form>
</div>
