name: Receive PR

on: pull_request

jobs:
  cache:
    name: npm cache
    runs-on: ubuntu-latest

    steps:
      - name: npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
